{% load i18n %}
{% block footer %}
  <div class="footer">
    <div class="footer-top">
        <div class="container">
              <div class="footer-row-one">
                  <h2>Linkinu Lab</h2>
                  <ul class="footer-link">
                      <li><a href="javascript:void(0)"> <i class="fa fa-plus "> </i> About </a></li>
                      <li><a href="javascript:void(0)"> <i class="fa fa-plus "> </i> Jobs </a></li>
                      <li><a href="javascript:void(0)"> <i class="fa fa-plus "> </i> Press </a></li>
                      <li><a href="javascript:void(0)"> <i class="fa fa-plus "> </i> Contact </a></li>
                      <li><a href="javascript:void(0)"> <i class="fa fa-plus "> </i> Join our mailing list </a></li>
                  </ul>
              </div>
              
              <div class="footer-row-one">
                  <h2>More Products</h2>
                  <ul class="footer-link">
                      <li><a href="javascript:void(0)"> <i class="fa fa-plus "> </i> Blocksworld </a></li>
                      <li><a href="javascript:void(0)"> <i class="fa fa-plus "> </i> Desura </a></li>
                      <li><a href="javascript:void(0)"> <i class="fa fa-plus "> </i> Patterns </a></li>
                  </ul>
              </div>
              
              <div class="footer-row-one">
                  <h2>My Account</h2>
                  <ul class="footer-link">
                      <li><a href="javascript:void(0)"> <i class="fa fa-plus "> </i> About </a></li>
                      <li><a href="javascript:void(0)"> <i class="fa fa-plus "> </i> Marketplace </a></li>
                      <li><a href="javascript:void(0)"> <i class="fa fa-plus "> </i> Destination Guide </a></li>
                      <li><a href="javascript:void(0)"> <i class="fa fa-plus "> </i> Premium </a></li>
                      <li><a href="javascript:void(0)"> <i class="fa fa-plus "> </i> Download </a></li>
                      <li><a href="javascript:void(0)"> <i class="fa fa-plus "> </i> Blog </a></li>
                      <li><a href="javascript:void(0)"> <i class="fa fa-plus "> </i> In the News </a></li>
                  </ul>
              </div>
              
              <div class="footer-row-right">
                  <h2>Connect With Us</h2>
                  <ul class="social-link">
                      <li><a href="javascript:void(0)"> <i class="fa fa-facebook"> </i>  </a></li>
                      <li><a href="javascript:void(0)"> <i class="fa fa-twitter "> </i>  </a></li>
                      <li><a href="javascript:void(0)"> <i class="fa fa-youtube "> </i>   </a></li>
                      <li><a href="javascript:void(0)"> <i class="fa fa-flickr "> </i>  </a></li>
                  </ul>
                  
                  
                  <h2>Partner With Us</h2>
                  <ul class="footer-link">
                      <li><a href="javascript:void(0)"> <i class="fa fa-plus "> </i> Affiliate Program </a></li>
                      <li><a href="javascript:void(0)"> <i class="fa fa-plus "> </i> Business Development </a></li>
                  </ul>
                  
              </div>
        
        </div> 
    </div>
    
      <div class="footer-bottom">
            <div class="container">
                  <div class="footer-bottom-left">
                  Copyright @ LinkinU Life 2014 | All Right Reserved
                  </div>
                  
                  <ul class="link-footer-right">
                      <li><a href="javascript:void(0)">Terms & Conditions</a></li>
                      <li><a href="javascript:void(0)">Accessibility</a></li>
                      <li><a href="javascript:void(0)">Privacy Policy</a></li>
                  </ul>
            </div>
      </div>



  </div>
{% endblock %}