{% load i18n %}

<div class="header-top">
    <div class="container">
      <div class="header-top-left">
            Welcome, <a href="javascript:void(0)">رﻮﻔﺼﻋ ﻦﺒﻟ</a>
      </div>
      <div class="header-top-right">
        <div class="top-search">
            <input class="search-field" type="text" placeholder="Search Here...">
            <button class="search-btn"><i class="fa fa-search"> </i></button>
        </div>
        <ul class="language-select">
                  <li><a href="javascript:void(0)"> Language  <i class="fa fa-angle-double-down"> </i> </a> 
                        <ul class="no-display">
                                      <li> <a href="javascript:void(0)">English</a></li>
                                      <li> <a href="javascript:void(0)">日本語</a></li>
                                      <li> <a href="javascript:void(0)">Deutsch</a></li>
                                      <li> <a href="javascript:void(0)">Français</a></li>
                                      <li> <a href="javascript:void(0)">Español</a></li>
                                      <li> <a href="javascript:void(0)">Português</a></li>
                                      <li> <a href="javascript:void(0)">Italiano</a></li>
                                      <li> <a href="javascript:void(0)">Türkçe</a></li>
                                      <li> <a href="javascript:void(0)">русская</a></li>
                        </ul>
                  </li>
                  <li><a href="javascript:void(0)"> Log out <i class="fa fa-sign-out"> </i> </a></li> 
                </ul>
      </div>
    </div>
  </div>