@charset "utf-8";
/* CSS Document */


@media only screen and (max-width:991px) {
	.login-page{ padding:40px 15px 150px;}
}

@media only screen and (max-width:730px) {
.page-detail{ width:100%;}
.page-detail-left{ width:100%; padding-bottom:20px;}
.page-detail-right{ width:100%;}
.go-back a{ color:#fff;} 
.go-back{ padding:30px 5px; }
.page-detail:before{ background-size:100%;}
.tool-tip-detail{ display:none;}
.page-heading{ padding-bottom:10px;}
.footer{ padding-top:30px;}
.page-row-left{ width:43%; font-size:12px; padding-top:12px;}
.page-row-right{ width:53%;}
.field-txt-small{ font-size:12px;}
.welcome-message{ padding-bottom:150px;}
.no-display{ right:0;}
ul.language-select li a{ padding:0 30px 0 10px;}
.create-account-left{ width:50%;}
ul.create-account-right{ width:48%;}
.login-left{ width:100%; }
.login-right{ width:100%; margin-top:20px;}
}

@media only screen and (max-width:480px) {
.reflected{ max-width:88%;}
#showcase{ height:400px;}
.pic-stage{ bottom:50px;}
.tab-section .nav-tabs > li > a{ font-size:10px; padding:8px 15px;}
.language{ top:42px;}
ul.language-select li a{ font-size:11px;}
.footer{ padding-top:15px; padding-bottom:15px; padding-left:10px; padding-right:10px;}
.footer p{ font-size:12px;}
.bottom-btn{ z-index:111;}
.pic-stage{ text-indent:inherit;}
.page-row-left{ width:100%; text-align:left; padding-bottom:5px;}
.container{ padding-left:0; padding-right:0;}
.page-row-right{ width:100%;}
.chexk-avail-activate{ width:100%; font-size:12px;}
.page-heading{ font-size:15px;}
.create-account-left{ width:100%;}
ul.create-account-right{ width:100%;}
}