{% extends "grid_my/layout_2_col.html" %}
{% load i18n %}

{% block content %}

<div class="top-heading">Your Account</div>
                <div class="section-right-full">
                    <h2>Account Summary</h2>

                    <ul class="account-info">
                        <li>
                            <div class="accont-left">Your current plan:</div>
                            <div class="accont-right"><b><a href="javascript:void(0)">Premium Annual</a></b>
                            </div>
                        </li>

                        <li>
                            <div class="accont-left">Your billing rate:</div>
                            <div class="accont-right">USD 72.00 Annual</div>
                        </li>

                        <li>
                            <div class="accont-left">Your current status:</div>
                            <div class="accont-right">Active</div>
                        </li>

                        <li>
                            <div class="accont-left">Next bill date:</div>
                            <div class="accont-right">Saturday, 01-17-2015</div>
                        </li>

                        <li>
                            <div class="accont-left">Country of Residence:</div>
                            <div class="accont-right">saudi arabia <a href="javascript:void(0)">(Change)</a>
                            </div>
                        </li>

                        <li>
                            <div class="accont-left">Subject to VAT:</div>
                            <div class="accont-right">No</div>
                        </li>

                    </ul>
                </div>


                <div class="section-right-full">
                    <h2>Linkin Dollar Summary</h2>

                    <ul class="account-info">
                        <li>
                            <div class="accont-left">Linkin Dollar balance:</div>
                            <div class="accont-right"><a href="javascript:void(0)">L$ 10,575</a>
                            </div>
                        </li>

                        <li>
                            <div class="accont-left">US Dollar balance:</div>
                            <div class="accont-right">USD 0.00</div>
                        </li>

                    </ul>
                </div>



                <div class="section-right-full">
                    <h2>Land Holdings</h2>

                    <ul class="account-info">
                        <li>
                            <div class="accont-left">Allowed holdings:</div>
                            <div class="accont-right">512.00 square meters</div>
                        </li>

                        <li>
                            <div class="accont-left">Current holdings:</div>
                            <div class="accont-right">512.00 square meters</div>
                        </li>

                        <li>
                            <div class="accont-left">Available for purchase:</div>
                            <div class="accont-right">0.00 square meters</div>
                        </li>

                        <li>
                            <div class="accont-left">Peak square meter usage:</div>
                            <div class="accont-right">512.00 square meters</div>
                        </li>

                        <li>
                            <div class="accont-left">Total monthly cost:</div>
                            <div class="accont-right">USD 0.00</div>
                        </li>

                    </ul>
                </div>

{% endblock content %}