{% extends "grid_my/layout_2_col.html" %}
{% load i18n %}
{% block extrascripts %}
<script type="text/javascript"  src="{{ STATIC_URL }}js/passwordscheck.js"></script>
{% endblock %}
{% block content %}
<form class="form-horizontal" action="/account/change_password" method='POST' autocomplete="off">
{% csrf_token %}
 <div class="top-heading">Change Password : ﻟﺒﻦ ﻋﺼﻔﻮﺭ</div>
                <div class="info-txt">If you want to change the password associated with your Second Life customer account, you may do so below. Be sure to click the<b> Save Changes</b> button when you are done.

                    <div class="note-txt"><b>NOTE:</b> Passwords must be 6-16 characters in length and may not contain spaces.</div>
                </div>

                <div class="section-right-full">


                    <ul class="contact-info">
                        <li>
                            <div class="contact-info-left">Enter your current password:</div>
                            <div class="contact-info-right">
                                <input type="password" class="txt-field">
                            </div>
                        </li>

                        <li>
                            <div class="contact-info-left">Choose a new password:</div>
                            <div class="contact-info-right">
                                <input type="password" id="pass" name="pass" class="txt-field">
                            </div>
                        </li>

                        <li>
                        <div class="contact-info-left">Password strengthrwer:</div>
                        <div class="contact-info-right">
                       <div id="ppbar" title="Strength"><div id="pbar"></div></div>
                       <div id="ppbartxt"></div>
                        </div>

                        </li>

                        <li>
                            <div class="contact-info-left">Confirm your new password:</div>
                            <div class="contact-info-right">
                                <input type="password" id="pass2" class="txt-field">
                            </div>
                        </li>

                        <li>
                            <div class="contact-info-left">&nbsp;</div>
                            <div class="contact-info-right">
                            <button class="btn btn-primary" type="submit">Save Changes</button>
                            </div>
                        </li>

                    </ul>

                </div>
            </div>


</form>
<style>
  input{
   border:none;
   padding:8px;
  }
  #ppbar{
   background:#CCC;
   width:300px;
   height:15px;
   margin:5px;
  }
  #pbar{
   margin:0px;
   width:0px;
   background:lightgreen;
   height: 100%;
  }
  #ppbartxt{
   text-align:right;
   margin:2px;
  }
  </style>

{% endblock content %}