<div class="navbar navbar-fixed-top">
{% load i18n %}
  <div class="navbar-inner">
    <div class="container" style="width:auto;padding:0px 20px;">
      <!-- Navigation -->
      <div class="nav" style="width:95%">
        <a href="/" class="brand active"><i>{{ SiteTitle }}</i></a>
        <li class="divider-vertical"></li>
        </ul>
        </li><!-- user dropdown -->
        <li class="active"><a href="/account">Summary</a></li>
      </div><!-- Navigation -->
    </div><!-- container -->
  </div><!-- navbar-inner -->
</div><!-- navbar -->
