{% load i18n compress %}
{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="{{ LANGUAGE_CODE|default:"en-gb" }}" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="{{ LANGUAGE_CODE|default:"en-gb" }}" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="{{ LANGUAGE_CODE|default:"en-gb" }}" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{ LANGUAGE_CODE|default:"en-gb" }}" class="no-js"> <!--<![endif]-->
    <head>
        <title>{% if display_version %}[{% trans "Build" %} {{ version }}] {% endif %}{% block title %}{{ shop_name }} - {{ shop_tagline }}{% endblock %}</title>

        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="created" content="{% now "jS M Y h:i" %}" />
        <meta name="description" content="{% block description %}{% endblock %}" />
        <meta name="keywords" content="{% block keywords %}{% endblock %}" />
        <meta name="viewport" content="{% block viewport %}width=device-width{% endblock %}" />

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {% block favicon %}
            <link rel="shortcut icon" href="" />
        {% endblock %}

        {% block mainstyles %}
            {% block styles %}
                <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" type="text/css">
                <link href="{{ STATIC_URL }}css/style-my.css" rel="stylesheet" type="text/css">
                <link href="{{ STATIC_URL }}css/font-awesome-my.css" rel="stylesheet" type="text/css">
                <link href="{{ STATIC_URL }}css/reponsive-my.css" rel="stylesheet" type="text/css">
               
                <!-- <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,900,700italic,900italic' rel='stylesheet' type='text/css'>
                <link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'> -->

            {% endblock %}
        {% endblock %}

        {# Additional CSS - specific to certain pages #}
        {% block extrastyles %}{% endblock %}

        {% block extrahead %}{% endblock %}
    </head>

    <body id="{% block body_id %}default{% endblock %}" class="{% block body_class %}default{% endblock %}">

    
        {# Main content goes in this 'layout' block #}
        {% block layout %}{% endblock %}

        {% block tracking %}
            {# Default to using Google analytics #}
            {% include "partials/google_analytics.html" %}
        {% endblock %}

        {# Local scripts #}
        {% block scripts %}

            <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js" ></script>
            <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-multiple-accordion/scriptbreaker-multiple-accordion-1.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-quickpaginate/jquery.quickpaginate.packed.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-selectbox/jquery.selectbox-0.2.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}js/my-custom/custom.js"></script>
            
            

            {% compress js %}

            {% endcompress %}
        {% endblock %}

        {# Additional JS scripts #}
        {% block extrascripts %}

        {% endblock %}
    </body>
</html>
