{% extends "grid_my/layout_2_col.html" %}
{% load i18n %}

{% block content %}
    <div class="top-heading">{{ request.user.get_firstname_lastname }}'s Dashboard </div>

    <div class="section-right-left">
        <div class="blog-box">
            <h2><span class="new-tagg">New</span>My LinkinU Life</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel dolor magna. Vivamus et blandit mi. Curabitur viverra tincidunt tortor quis bibendum. Fusce pellentesque enim hendrerit, feugiat elit a, facilisis nibh. Duis tempus justo sed sagittis tincidunt.</p>
            <a class="check-out" href="#">Check out My LinkinU Life now »</a>
        </div>

        <div class="blog-box">
            <h2>Blog Feeds</h2>
            <div class="news-feed">
                <div class="select-txt">Select a feed:</div>
                <div class="select-field">
                    <select name="country_id" id="" class="gen" tabindex="1">
                        <option value="">Featured News</option>
                        <option value="1">USA</option>
                        <option value="9">Canada</option>
                        <option value="2">France</option>
                        <option value="3">Spain</option>
                        <option value="6">Bulgaria</option>
                        <option value="8">Italy</option>
                    </select>
                </div>
            </div>

            <div class="news-feed-all">
                <ul class="shopping_list">
                    <li><a href="javascript:void(0)">Highlights from the LinkinU Life Destination Guide 9/19/2014 <span class="txt-change"> Friday, September 19th, 2014, 6:42:56 PM (UTC)</span> </a>
                    </li>

                    <li><a href="javascript:void(0)">Highlights from the LinkinU Life Destination Guide 9/19/2014 <span class="txt-change"> Friday, September 19th, 2014, 6:42:56 PM (UTC)</span> </a>
                    </li>

                    <li><a href="javascript:void(0)">Highlights from the LinkinU Life Destination Guide 9/19/2014 <span class="txt-change"> Friday, September 19th, 2014, 6:42:56 PM (UTC)</span> </a>
                    </li>

                    <li><a href="javascript:void(0)">Highlights from the LinkinU Life Destination Guide 9/19/2014 <span class="txt-change"> Friday, September 19th, 2014, 6:42:56 PM (UTC)</span> </a>
                    </li>

                    <li><a href="javascript:void(0)">Highlights from the LinkinU Life Destination Guide 9/19/2014 <span class="txt-change"> Friday, September 19th, 2014, 6:42:56 PM (UTC)</span> </a>
                    </li>

                    <li><a href="javascript:void(0)">Highlights from the LinkinU Life Destination Guide 9/19/2014 <span class="txt-change"> Friday, September 19th, 2014, 6:42:56 PM (UTC)</span> </a>
                    </li>


                    <li><a href="javascript:void(0)">Highlights from the LinkinU Life Destination Guide 9/19/2014 <span class="txt-change"> Friday, September 19th, 2014, 6:42:56 PM (UTC)</span> </a>
                    </li>

                    <li><a href="javascript:void(0)">Highlights from the LinkinU Life Destination Guide 9/19/2014 <span class="txt-change"> Friday, September 19th, 2014, 6:42:56 PM (UTC)</span> </a>
                    </li>

                    <li><a href="javascript:void(0)">Highlights from the LinkinU Life Destination Guide 9/19/2014 <span class="txt-change"> Friday, September 19th, 2014, 6:42:56 PM (UTC)</span> </a>
                    </li>

                    <li><a href="javascript:void(0)">Highlights from the LinkinU Life Destination Guide 9/19/2014 <span class="txt-change"> Friday, September 19th, 2014, 6:42:56 PM (UTC)</span> </a>
                    </li>

                    <li><a href="javascript:void(0)">Highlights from the LinkinU Life Destination Guide 9/19/2014 <span class="txt-change"> Friday, September 19th, 2014, 6:42:56 PM (UTC)</span> </a>
                    </li>

                    <li><a href="javascript:void(0)">Highlights from the LinkinU Life Destination Guide 9/19/2014 <span class="txt-change"> Friday, September 19th, 2014, 6:42:56 PM (UTC)</span> </a>
                    </li>

                    <li><a href="javascript:void(0)">Highlights from the LinkinU Life Destination Guide 9/19/2014 <span class="txt-change"> Friday, September 19th, 2014, 6:42:56 PM (UTC)</span> </a>
                    </li>

                    <li><a href="javascript:void(0)">Highlights from the LinkinU Life Destination Guide 9/19/2014 <span class="txt-change"> Friday, September 19th, 2014, 6:42:56 PM (UTC)</span> </a>
                    </li>

                    <li><a href="javascript:void(0)">Highlights from the LinkinU Life Destination Guide 9/19/2014 <span class="txt-change"> Friday, September 19th, 2014, 6:42:56 PM (UTC)</span> </a>
                    </li>

                    <li><a href="javascript:void(0)">Highlights from the LinkinU Life Destination Guide 9/19/2014 <span class="txt-change"> Friday, September 19th, 2014, 6:42:56 PM (UTC)</span> </a>
                    </li>

                    <li><a href="javascript:void(0)">Highlights from the LinkinU Life Destination Guide 9/19/2014 <span class="txt-change"> Friday, September 19th, 2014, 6:42:56 PM (UTC)</span> </a>
                    </li>

                    <li><a href="javascript:void(0)">Highlights from the LinkinU Life Destination Guide 9/19/2014 <span class="txt-change"> Friday, September 19th, 2014, 6:42:56 PM (UTC)</span> </a>
                    </li>

                </ul>
            </div>

            <div class="right-side">
                <div class="shopping_list_counter"></div>
            </div>
        </div>


        <div class="blog-box">
            <h2>Grid Status</h2>
            <div class="news-feed-all">
                <ul class="shopping_list1">
                    <li><a href="javascript:void(0)">[RESOLVED] Unscheduled Support Maintenance <span class="txt-change"> Sunday, September 21st, 2014, 5:56:01 AM (UTC) </span> </a>
                    </li>

                    <li><a href="javascript:void(0)">[RESOLVED] Unscheduled Support Maintenance <span class="txt-change"> Sunday, September 21st, 2014, 5:56:01 AM (UTC) </span> </a>
                    </li>
                    <li><a href="javascript:void(0)">[RESOLVED] Unscheduled Support Maintenance <span class="txt-change"> Sunday, September 21st, 2014, 5:56:01 AM (UTC) </span> </a>
                    </li>

                    <li><a href="javascript:void(0)">[RESOLVED] Unscheduled Support Maintenance <span class="txt-change"> Sunday, September 21st, 2014, 5:56:01 AM (UTC) </span> </a>
                    </li>
                    <li><a href="javascript:void(0)">[RESOLVED] Unscheduled Support Maintenance <span class="txt-change"> Sunday, September 21st, 2014, 5:56:01 AM (UTC) </span> </a>
                    </li>

                    <li><a href="javascript:void(0)">[RESOLVED] Unscheduled Support Maintenance <span class="txt-change"> Sunday, September 21st, 2014, 5:56:01 AM (UTC) </span> </a>
                    </li>
                    <li><a href="javascript:void(0)">[RESOLVED] Unscheduled Support Maintenance <span class="txt-change"> Sunday, September 21st, 2014, 5:56:01 AM (UTC) </span> </a>
                    </li>

                    <li><a href="javascript:void(0)">[RESOLVED] Unscheduled Support Maintenance <span class="txt-change"> Sunday, September 21st, 2014, 5:56:01 AM (UTC) </span> </a>
                    </li>
                    <li><a href="javascript:void(0)">[RESOLVED] Unscheduled Support Maintenance <span class="txt-change"> Sunday, September 21st, 2014, 5:56:01 AM (UTC) </span> </a>
                    </li>

                    <li><a href="javascript:void(0)">[RESOLVED] Unscheduled Support Maintenance <span class="txt-change"> Sunday, September 21st, 2014, 5:56:01 AM (UTC) </span> </a>
                    </li>
                    <li><a href="javascript:void(0)">[RESOLVED] Unscheduled Support Maintenance <span class="txt-change"> Sunday, September 21st, 2014, 5:56:01 AM (UTC) </span> </a>
                    </li>

                    <li><a href="javascript:void(0)">[RESOLVED] Unscheduled Support Maintenance <span class="txt-change"> Sunday, September 21st, 2014, 5:56:01 AM (UTC) </span> </a>
                    </li>
                    <li><a href="javascript:void(0)">[RESOLVED] Unscheduled Support Maintenance <span class="txt-change"> Sunday, September 21st, 2014, 5:56:01 AM (UTC) </span> </a>
                    </li>

                    <li><a href="javascript:void(0)">[RESOLVED] Unscheduled Support Maintenance <span class="txt-change"> Sunday, September 21st, 2014, 5:56:01 AM (UTC) </span> </a>
                    </li>
                    <li><a href="javascript:void(0)">[RESOLVED] Unscheduled Support Maintenance <span class="txt-change"> Sunday, September 21st, 2014, 5:56:01 AM (UTC) </span> </a>
                    </li>

                    <li><a href="javascript:void(0)">[RESOLVED] Unscheduled Support Maintenance <span class="txt-change"> Sunday, September 21st, 2014, 5:56:01 AM (UTC) </span> </a>
                    </li>

                </ul>
            </div>

            <div class="right-side">
                <div class="shopping_list_counter1"></div>
            </div>
        </div>

        <div class="blog-box">
            <h2>Upcoming Events</h2>
            <div class="news-feed">
                <div class="field-sec">
                    <div class="field-sec-half">
                        <select name="country_id1" id="" class="gen" tabindex="2">
                            <option value="">All Categories</option>
                            <option value="1">USA</option>
                            <option value="9">Canada</option>
                            <option value="2">France</option>
                            <option value="3">Spain</option>
                            <option value="6">Bulgaria</option>
                            <option value="8">Italy</option>
                        </select>
                    </div>
                    <div class="field-sec-half">
                        <select name="country_id1" id="" class="gen" tabindex="2">
                            <option value="">Show next 24 hours</option>
                            <option value="1">USA</option>
                            <option value="9">Canada</option>
                            <option value="2">France</option>
                            <option value="3">Spain</option>
                            <option value="6">Bulgaria</option>
                            <option value="8">Italy</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="news-feed-all">
                <ul class="shopping_list2">
                    <li><a href="javascript:void(0)">Highlights from the LinkinU Life Destination Guide 9/19/2014 <span class="txt-change"> Friday, September 19th, 2014, 6:42:56 PM (UTC)</span> </a>
                    </li>

                    <li><a href="javascript:void(0)">Highlights from the LinkinU Life Destination Guide 9/19/2014 <span class="txt-change"> Friday, September 19th, 2014, 6:42:56 PM (UTC)</span> </a>
                    </li>

                    <li><a href="javascript:void(0)">Highlights from the LinkinU Life Destination Guide 9/19/2014 <span class="txt-change"> Friday, September 19th, 2014, 6:42:56 PM (UTC)</span> </a>
                    </li>

                    <li><a href="javascript:void(0)">Highlights from the LinkinU Life Destination Guide 9/19/2014 <span class="txt-change"> Friday, September 19th, 2014, 6:42:56 PM (UTC)</span> </a>
                    </li>

                    <li><a href="javascript:void(0)">Highlights from the LinkinU Life Destination Guide 9/19/2014 <span class="txt-change"> Friday, September 19th, 2014, 6:42:56 PM (UTC)</span> </a>
                    </li>

                    <li><a href="javascript:void(0)">Highlights from the LinkinU Life Destination Guide 9/19/2014 <span class="txt-change"> Friday, September 19th, 2014, 6:42:56 PM (UTC)</span> </a>
                    </li>


                    <li><a href="javascript:void(0)">Highlights from the LinkinU Life Destination Guide 9/19/2014 <span class="txt-change"> Friday, September 19th, 2014, 6:42:56 PM (UTC)</span> </a>
                    </li>

                    <li><a href="javascript:void(0)">Highlights from the LinkinU Life Destination Guide 9/19/2014 <span class="txt-change"> Friday, September 19th, 2014, 6:42:56 PM (UTC)</span> </a>
                    </li>

                    <li><a href="javascript:void(0)">Highlights from the LinkinU Life Destination Guide 9/19/2014 <span class="txt-change"> Friday, September 19th, 2014, 6:42:56 PM (UTC)</span> </a>
                    </li>

                    <li><a href="javascript:void(0)">Highlights from the LinkinU Life Destination Guide 9/19/2014 <span class="txt-change"> Friday, September 19th, 2014, 6:42:56 PM (UTC)</span> </a>
                    </li>

                    <li><a href="javascript:void(0)">Highlights from the LinkinU Life Destination Guide 9/19/2014 <span class="txt-change"> Friday, September 19th, 2014, 6:42:56 PM (UTC)</span> </a>
                    </li>

                    <li><a href="javascript:void(0)">Highlights from the LinkinU Life Destination Guide 9/19/2014 <span class="txt-change"> Friday, September 19th, 2014, 6:42:56 PM (UTC)</span> </a>
                    </li>

                    <li><a href="javascript:void(0)">Highlights from the LinkinU Life Destination Guide 9/19/2014 <span class="txt-change"> Friday, September 19th, 2014, 6:42:56 PM (UTC)</span> </a>
                    </li>

                    <li><a href="javascript:void(0)">Highlights from the LinkinU Life Destination Guide 9/19/2014 <span class="txt-change"> Friday, September 19th, 2014, 6:42:56 PM (UTC)</span> </a>
                    </li>

                    <li><a href="javascript:void(0)">Highlights from the LinkinU Life Destination Guide 9/19/2014 <span class="txt-change"> Friday, September 19th, 2014, 6:42:56 PM (UTC)</span> </a>
                    </li>

                    <li><a href="javascript:void(0)">Highlights from the LinkinU Life Destination Guide 9/19/2014 <span class="txt-change"> Friday, September 19th, 2014, 6:42:56 PM (UTC)</span> </a>
                    </li>

                    <li><a href="javascript:void(0)">Highlights from the LinkinU Life Destination Guide 9/19/2014 <span class="txt-change"> Friday, September 19th, 2014, 6:42:56 PM (UTC)</span> </a>
                    </li>

                    <li><a href="javascript:void(0)">Highlights from the LinkinU Life Destination Guide 9/19/2014 <span class="txt-change"> Friday, September 19th, 2014, 6:42:56 PM (UTC)</span> </a>
                    </li>

                    <li><a href="javascript:void(0)">Highlights from the LinkinU Life Destination Guide 9/19/2014 <span class="txt-change"> Friday, September 19th, 2014, 6:42:56 PM (UTC)</span> </a>
                    </li>

                    <li><a href="javascript:void(0)">Highlights from the LinkinU Life Destination Guide 9/19/2014 <span class="txt-change"> Friday, September 19th, 2014, 6:42:56 PM (UTC)</span> </a>
                    </li>

                </ul>
            </div>

            <div class="right-side">
                <div class="shopping_list_counter2"></div>
            </div>
        </div>

    </div>


    <div class="section-right-right">
        <div class="right-row-one">
            <img src="{{ STATIC_URL }}images/home.jpg" alt="">
            <div class="row-one-detail">
                <h2>Your Own private home in LinkinU Life.</h2>
                <p>A new benefit for Premium Members.</p>
                <a class="get-home" href="javascript:void(0)">Get Your Home Now</a>
            </div>
        </div>

        <div class="right-row-two">
            <img src="{{ STATIC_URL }}images/icon.png" alt="">
            <h2>Download LL Viewer</h2>
            <p>Experience the next generation LinkinU Viewer</p>
        </div>



        <div class="section-left-box">
            <h2>My Groups</h2>
            <ul class="name-status">
                <li class="fried-name">Name</li>
                <li class="fried-status">Status</li>
            </ul>
            <ul class="shopping_list3">
              {% for group in groups %}
                  <li>
                    <a href="javascript:void(0)">{{ group.name }}
                      <span class="status-update">45</span>
                    </a>
                  </li>
              {% endfor%}
            </ul>

            <ul class="right-scroll">
                <li>
                    <div class="shopping_list_counter3"></div>
                </li>
            </ul>
        </div>


    </div>


{% endblock content %}

